<%- include partials/header %>
<%- include partials/main_nav %>
<body>
  <div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Plant History Tracker</h1>
    <p class="lead">Follow the link to Plants to get started! My Idea for this
    project is to have a list of plants I own, that includes relevant data about them.<p>
  </div>
</div>
<img src="assets/plantcollection.jpg" alt="cactus" style="width:1000px;height:600px;" class = "center">
</body>

<%- include partials/bottom_nav %>
<%- include partials/footer %>
